.carousel {
  width: 600px;
  overflow: hidden;
  margin: auto;
}

.track {
  display: flex;
  flex-direction: row;
  
  transition: transform 0.5s ease;
}

img {
  width: 600px;
  height: 300px;
  flex-shrink: 0;
}
