body {
  font-family: Arial;
}

.app-content {
    width: 600px;
    min-width: 450px;
    margin: 15px auto;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 5px 0;
  background: #f2f2f2;
}

button {
  cursor: pointer;
}
